# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Cobertura de tests
coverage/

# Archivos temporales
.tmp/
temp/

# Configuración de editores
.vscode/
.idea/